body {
  background-color: #F0F3F5;
}

.map-wrapper {
  margin-top: 85px;
  background-color: #F0F3F5;
}

.contact-title .text-center {
  width: 124px;
  font-size: 30px;
  color: rgba(51, 51, 51, 1);
  margin-top: 48px;
}

.contact-title hr {
  width: 50px;
  height: 2px;
  background: rgba(51, 51, 51, 1);
}

#container {
  width: 100%;
  height: 500px;
}

.map-wrapper .map {
  padding: 15px 0;
}

.map-wrapper .loaction-area {
  margin: 5rem 0;
}

.loaction-area .card {
  background-size: 100% 100%;
  min-height: 300px;
  text-align: center;
  border-radius: 0px;
  border: 1px dashed #333333;
}

.loaction-area .card-title {
  border-bottom: 2px solid #E6E6E6;
  padding-bottom: 10px;
}

.bg-bj,
.bg-jh,
.bg-gy:hover {
  cursor: pointer;
}

.bg-sh,
.bg-gy:hover {
  cursor: pointer;
}

.bg-sh-active,
.bg-bj-active,
.bg-jh-active,
.bg-gy-active:hover {
  cursor: pointer;
}

.bg-bj .card {
  background-image: url('../images/location-bg-bj.png');
  background-size: 100% 100%;
}

.bg-bj-active .card {
  background-image: url('../images/location-bg-bj-active.png');
  background-size: 100% 100%;
  color: white;
}

.bg-jh .card {
  background-image: url('../images/location-bg-jh.png');
  background-size: 100% 100%;
}

.bg-jh-active .card {
  background-image: url('../images/location-bg-jh-active.png');
  background-size: 100% 100%;
  color: white;
}

.bg-gy .card {
  background-image: url('../images/location-bg-gy.png');
  background-size: 100% 100%;
}

.bg-gy-active .card {
  background-image: url('../images/location-bg-gy-active.png');
  background-size: 100% 100%;
  color: white;
}

.bg-sh .card {
  background-image: url('../images/location-bg-sh.png');
  background-size: 100% 100%;
}

.bg-sh-active .card {
  background-image: url('../images/location-bg-sh-active.png');
  background-size: 100% 100%;
  color: white;
}