.bg-img1{
  background-image: url("../images/bg1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 95vh;
  margin-top: 65px;
}

.subtitlebg1{
  background-color: rgba(0,0,0,0.4);
  color: #FFFFFF;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitleDiv1{
  max-width: 800px;
  text-align: center;
}

.subtitleDiv1 h2{
  font-size: 90px;
  font-weight: bold;
}

.subtitleDiv1 p{
  font-size: 40px;
  font-weight: 300;
  color: #FFFFFF;
}

.h2_color1{
  color: #FFFFFF;
}

.h2_color2{
  color: #FFC000;
}

.bg-img2{
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 95vh;
}

.subtitlebg2{
  color: #FFFFFF;
  height: inherit;
  position: relative;
  display: flex;
  display: -ms-flex;
  justify-content: center;
  align-items: center;
}

.subtitleDiv2{
  min-width: 1020px;
  text-align: left;
  margin-bottom: 60px;
}

.h3_color1{
  font-size: 55px;
}


.subtitlebg2_bottom{
  background-color: rgba(255, 192, 0, 0.8);
  z-index: 999;
  width: 100%;
  min-height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.subtitlebg2_bottomDiv{
  min-width: 1020px;
  text-align: center;
  padding: 30px 0;
}

.h3_color2{
  font-size: 40px;
}

.bg-img3{
  background-image: url("../images/bg3.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  height:70vh;
}

.subtitlebg3{
  color: #FFFFFF;
  background-color: rgba(0,0,0,0.5);
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitleDiv3{
  max-width: 1020px;
  text-align: left;
}

.subtitleDiv3_con{
  font-size: 28px;
  line-height: 38px;
}

.subtitleDiv3_con span{
  color: #FFC000;
}